/* SECTION 1: Changes need to be done for Theme */
body {
  font-size: 15px !important;
}
.main-header {
  max-height: 230px;
}
.sidebar-mini.sidebar-collapse .main-sidebar {
  transform: translate(0px, 0px);
  width: 0px !important;
  z-index: 850;
}
.sidebar-mini.sidebar-collapse .content-wrapper,
.sidebar-mini.sidebar-collapse .right-side,
.sidebar-mini.sidebar-collapse .main-footer {
  margin-left: 0px !important;
  z-index: 840;
}
.sidebar-mini.sidebar-collapse .main-header .navbar {
  margin-left: 0;
}
.main-sidebar,
.left-side {
  padding-top: 178px;
}
.skin-blue .main-header .navbar {
  /* background-color: #7B1D5B; */
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
}
.logo-wrap {
  background-color: #ecf0f5;
  padding: 15px 0px;
  text-align: center;
}
.logo-wrap img {
  /*width:200px;
	height:auto;*/
}

.form-box-wrap {
  margin: 0 auto;
  max-width: 1600px;
  width: 83%;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}
.loading {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
}
.loading i {
  position: absolute;
  top: 50%;
  color: #000;
}
.clearfix {
  clear: both;
}

.menu_text {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.btn {
  font-weight: bold;
}
.bootstrap-tagsinput {
  width: 100%;
}
.datepicker {
  z-index: 99999 !important;
}
.service-tabs .tab-pane {
  padding: 20px 0px;
}
.service-img-list-ul {
  display: block;
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.service-img-list-ul li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
.service-img-list-ul li img {
  border: 1px solid #e9e9e9;
  display: block;
  height: auto;
  width: 190px;
}
.service-detail-view-wrap > .row {
  padding-bottom: 5px;
}
.admin-review-wrap .reviewer-img {
  float: left;
  margin-right: 10px;
}
.admin-review-wrap .reviewer-img img {
  border: 2px solid #00c0ef;
  width: 40px;
  height: auto;
  border-radius: 50%;
}
.admin-review-wrap .review-ul {
  padding: 10px;
  margin: 0;
}
.admin-review-wrap .review-ul li {
  list-style: none;
  padding-bottom: 25px;
}
.admin-review-wrap .reviewer-detail {
  padding-left: 55px;
}
.msg-time {
  color: #777;
  float: right;
}
.admin-review-wrap .rating-img4 {
  padding: 5px 0px;
}
.chat .item > .online {
  border: 2px solid #00c0ef;
}
.small-price {
  font-size: 20px;
  color: #fff;
  font-weight: normal;
}
.login-body .navbar {
  margin-left: 0px;
}
.login-body .content-wrapper,
.login-body .main-footer {
  margin-left: 0px;
}
.login-body .content-header {
  text-align: center;
  padding-top: 20px;
}
.sidebar-collapse .navbar {
  margin-left: 0;
}
.txt-align-right {
  text-align: right;
}
table.dataTable {
  width: 100% !important;
}
table.dataTable th,
table.dataTable td {
  white-space: nowrap;
}
.dataTable .dtr-data {
  white-space: pre-wrap;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.hr_separator {
  margin: 10px 0;
}
.explain-tip {
  color: green;
  font-size: 12px;
  display: inline-block;
  margin-left: 5px;
}
.required-tip {
  color: red;
  display: inline-block;
  margin: 0px 5px;
}

/* Boot Core Changes */
.row-bb {
}
.lineb10 {
  margin-bottom: 10px;
  margin-top: 0px;
}
.form-group label.has-error {
  display: none;
}
textarea.form-control {
  resize: vertical;
}
.height-mc {
  height: 100px !important;
}
.form-group .select2-container {
  display: block !important;
  width: 100% !important;
}

.add_margin {
  margin: 10px 10px;
}
.edit_only {
  display: none;
}

div.dataTables_wrapper > div.row > div,
div.dataTables_length,
div.dataTables_filter,
div.dataTables_info,
div.dataTables_paginate {
  text-align: left;
}
.align-right {
  text-align: right;
}
.margin5 {
  margin: 4px;
}
.dependancy_parent > div.data {
  padding: 1.5rem;
  background-color: #f5da88;
}
.dependancy_parent > div.border {
  margin: 1.5rem;
  border-top: rgba(0, 0, 0, 0.1) solid 1px;
  height: 1px;
}
.card {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  background: #fff;
  border-radius: 3px;
}
.card-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0.75rem 1.25rem;
}
.card-body {
  padding: 0.75rem 1.25rem;
}
.img_logo {
  max-width: 100%;
}
.box .box-header {
  border-bottom: 1px solid #f4f4f4;
}
@media (min-width: 768px) {
  .content-wrapper {
    margin-left: 115px !important;
  }
  .sidebar-collapse .content-wrapper {
    margin-left: 0px !important;
  }
}
@media (max-width: 767px) {
  .sidebar-open .content-wrapper {
    margin-left: -115px !important;
  }
}
.dt-buttons {
  float: right;
}
.dt-button {
  background-color: #00a65a;
  border-color: #008d4c;
  color: #ffffff;
  border-radius: 3px;
}
